.cart {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.cart-table {
    width: 1000px;
}

.cart-table th, td {
    border-style: solid;
    border-color: #1b9e8e;
}

.cart-table th:first-of-type {
    width: 20%;
}

.cart-table th:eq(3) {
    width: 20%;
}

.send-order {
    margin-top: 20px;
}

.send-order-span {
    width: 60%;
    margin-top: 20px;
    text-align: center;
    height: 45px;
    padding-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Home-Cart {
    background-color: #00282cd9;
    padding: 50px;
}