.fa-circle-o {
    color: white;
    font-size: 22px !important;
    padding-top: 7px;
}

.fa-stack-1x {
    font-size: 13px;
    color: white;
    padding-top: 2px;
}

.fa-shopping-cart {
    font-size: 20px;
    margin-left: 5px;
}