.rotate {
  animation: rotation 3s infinite linear;
  width: 100px;
  height: 140px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-span {
  margin-top: 20px;
  display: block;
}